@use "sass:map";
@use "reset";
@use "theme" as *;

h1 {
  font-weight: 600;
  font-size: $h1;
  line-height: 100%;
}

h2 {
}

h3 {
}

p {
  font-family: var(--font-gordita);
  font-size: $body-1;
  font-weight: 700;
}

small {
}

label {
}

.caption {
  font-size: $body-1;
  color: $color-text-2;
  font-family: var(--font-gordita);
  font-weight: 400;
}
