@use "sass:map";
@use "reset";

/** COLORS */
$colors: (
  "primary": #c8ee44,
  "secondary": #29a073,
  "tertiary": #ebe8e8,
  "gray": #fafafa,
  "gray-2": #f8f8f8,
  "key-black": #363a3f,
  "text-1": #1b212d,
  "text-2": #929eae,
  "black": #000000,
  "white": #ffffff,
);

/** FONT SIZES */
$font-sizes: (
  "h1": 30px,
  "h2": 24px,
  "h3": 20px,
  "h4": 18px,
  "h5": 16px,
  "h6": 14px,
  "body-1": 16px,
  "body-2": 14px,
  "body-3": 12px,
  "body-4": 10px,
  "body-5": 8px,
  "body-6": 6px,
);

h1 {
  font-weight: 600;
  font-size: map.get($font-sizes, "h1");
  line-height: 100%;
}

h2 {
}

h3 {
}

p {
}

small {
}

label {
}
