@use "../../app/styles/theme" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family: var(--font-gordita);
  font-weight: 500;
  font-size: $body-1; 
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%;
  border: none;
  outline: none;
  text-decoration: none;

  &.primary {
    background-color: $color-primary;
    color: $color-key-black;
    height: 48px;
    padding: 14px 20px;

    &:hover {
      opacity: 0.9;
    }
  }

  &.secondary {
    background-color: $color-white;
    border: 1px solid $color-gray-3;
    color: $color-key-black;
    height: 50px;
    padding: 13px 20px;

    &:hover {
      background-color: $color-gray-2;
    }
  }
  
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

