@use "../../app/styles/theme" as *;

.card {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 24px 20px;
  border-radius: 10px;
  font-family: var(--font-gordita);
  width: 100%;

  .icon {
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    padding: 11px;
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
      filter: brightness(0) saturate(100%) invert(79%) sepia(99%)
        saturate(1352%) hue-rotate(30deg) brightness(102%) contrast(89%);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
  }

  .label {
    font-size: $body-2;
    font-weight: 400;
    color: $color-text-2;
    margin: 0;
    line-height: normal;
  }

  .value {
    font-size: $h2;
    font-weight: 700;
    margin: 0;
    line-height: normal;
  }

  // Light variant (Total spending)
  &.light {
    background-color: $color-gray-2;

    .value {
      color: $color-text-1;
    }

    .icon {
      background-color: $color-gray-3;
    }
  }

  // Dark variant (Total balance)
  &.dark {
    background-color: #2d2d2d;

    .value {
      color: $color-white;
    }

    .icon {
      background-color: #404040;
    }
  }
}
