.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.column {
  width: 50%;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.image {
  object-fit: cover;
}
