.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}

.column {
  position: relative;
  width: 50%;

  &:first-child {
    padding-left: 100px;
    padding-right: 100px;
  }

  .children {
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;
  }
}

.logo {
  position: absolute;
  top: 40px;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.image {
  object-fit: cover;
}
