@use "../../app/styles/theme.scss" as *;

.password {
  font-size: $body-2;
}

.confirmPassword {
  font-size: $body-2;
}

.error {
  color: #ef4444;
  font-size: $body-3;
  margin-top: 4px;
  display: block;
  font-family: var(--font-gordita);
}

.link {
  color: $color-primary;
  text-decoration: none;
  font-weight: 700;
  text-decoration: none;
}

.link {
  position: relative;
  color: $color-primary;
  text-decoration: none;
  font-weight: 700;
}

.link:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px;
  height: 5px;
  width: 43px;
  background-image: url("/bottom-line.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}
