@use "../../app/styles/theme.scss" as *;

.formGroup {
  margin-top: 10px;
}

.label {
  margin-top: 15px;
}

.password {
  font-size: $body-2;
}

.error {
  color: #ef4444;
  font-size: $body-3;
  margin-top: 4px;
  display: block;
  font-family: var(--font-gordita);
}

.link {
  text-decoration: none;
  font-weight: 700;
  color: $color-black;
  position: relative;
}

.link:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px;
  height: 5px;
  width: 43px;
  background-image: url("/bottom-line.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

.haveAccountText {
  text-align: center;
  display: inline-block;
  font-size: $body-2;
  margin: 16px auto 0 auto;
  width: 100%;
}

.button {
  margin-top: 25px;
  & + .googleButton {
    margin-top: 15px;
  }
}

.googleLogo {
  margin-right: 10px;
}